//- doctype html
//- html
//-   head
//-     title Arena Cloud Nagradna Igra
//-     style.
//-       body {
//-       font-family: Arial, sans-serif;
//-       background-color: #ffffff;
//-       text-align: center;
//-       margin: 0;
//-       padding: 0;
//-       display: flex;
//-       flex-direction: column;
//-       justify-content: center;
//-       align-items: center;
//-       min-height: 100vh;
//-       }
//-       .content {
//-       background-color: rgb(87, 87, 87);
//-       padding: 20px;
//-       border-radius: 10px;
//-       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//-       display: flex;
//-       flex-direction: column;
//-       align-items: center;
//-       justify-content: center;
//-       }
//-       h1,
//-       h2,
//-       h3,
//-       h4 {
//-       color: #333;
//-       }
//-       p {
//-       color: #555;
//-       font-size: 18px;
//-       margin-top: 20px;
//-       }
//-       .code {
//-       background-color: #01d5fa;
//-       padding: 10px 20px;
//-       color: white;
//-       border-radius: 400000px;
//-       }
//-   body
//-     .content
//-       h2 Arena Cloud Nagradna Igra
//-       img(src='https://pbs.twimg.com/profile_images/1612708933214289921/Rbp4IRE1_400x400.jpg', alt='Slika', height='25px', width='25px')
//-       h3
//-         | Va&scaron; 
//-         strong kod
//-         |  za preuzimanje nagrade je
//-       p.code #{userCode}
doctype html
html
  head
    title Nagradna Igra
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      .container {
        background-color: #102039;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }
      h1,
      h2,
      h3,
      h4 {
        color: white;
      }
      p {
        color: white;
        font-size: 18px;
        margin-top: 20px;
      }
      .code {
        background-color: #01d5fa;
        padding: 10px 20px;
        color: white;
        border-radius: 9999999999px;
        display: inline-block;
      }
  body
    table(style="width: 50%; height: 100%;")
      tr
        td(style="text-align: center; vertical-align: middle;")
          .container
            h1 Nagradna Igra
            //- img(src='https://arenacloudtv.com/shared/assets/images/logo.svg', alt='Slika', height='100px', width='100px')
            img(src='https://play-lh.googleusercontent.com/EDgBWQCnHKQvhcnJ25d_QuNWpF3skbkSIqacGESigq_wbfyFXFfM3Z28d_u9MKj-sKQ', alt='Slika', height='100px', width='100px')
            h3 Čestitamo #{userName}
            h3
              | Va&scaron; 
              strong nadimak
              |  u tabeli je #{userNickName}
            h2.code Pristup tabeli: http://localhost:3000/player-position.html
